* {
  box-sizing: border-box;
}

body {
  /* background: #f7f7f7; */
  background: #fff;
  margin: 0;
  position: relative;
  min-height: 100vh;
  width: 100vw;
  max-width:100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  padding: 0 0 5rem;
}

::selection {
  background: #3453d1;
  color: #fff;
}

a {
  color: #3453d1;
  background-color: transparent;
}
a:active,
a:hover {
  color: #d1345b;
}

h1 {
  padding: 0;
  margin: 0 0 1.45rem 0;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  padding: 0;
  margin: 0 0 1.45rem 0;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.1;
}

h3 {
  padding: 0;
  margin: 0 0 1.45rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.1;
}

h4 {
  padding: 0;
  margin: 0 0 1.45rem 0;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.1;
}

p {
  padding: 0;
  margin: 0 0 1.45rem 0;
}

p *:last-child {
  margin-bottom: 0;
}

li p {
  margin: 0;
}

pre {
  padding: 1.45rem;
  margin: 0 0 1.45rem 0;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border: 1px solid hsla(0, 0%, 0%, 0.08);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
}

code {
  font-size: .8rem;
  background: hsla(0, 0%, 0%, 0.04);
  border: 1px solid hsla(0, 0%, 0%, 0.08);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.2rem;
}

pre code {
  background: transparent;
  border: none;
}

table {
  padding: 0;
  margin: 0 0 1.45rem 0;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
.site-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
.site-header__logo-link,
.site-header__logo-link:hover
{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}
.site-header__logo-link:hover {
  color: #d1345b;
}

.site-header__logo {
  display: inline;
  height: 10rem;
}

.site-menu__item {
  padding: 5px 10px;
  text-decoration: none;
  background-color: transparent;
}

.site-wrapper {
  margin: 0 auto;
  max-width: 64rem;
  padding: 0 1rem;
}

.index-welcome {
  text-align: center;
}
.index-separator {
  margin: 2rem 0;
  border-top: 1px solid #ccc;
}
.dublincss-cta {
  text-align: center;
}

.dublincss-cta__link {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  transition: all ease-out .3s;
  background: linear-gradient(155deg,
      #34d1bf 0%,
      #3453d1 50%,
      #d1345b 100%);
}

.dublincss-cta__link:hover {
  box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,0.5);
  color: #fff;
}

.site-footer {
  background: #3453d1;
  background: linear-gradient(155deg,
      #34d1bf 0%,
      #3453d1 50%,
      #d1345b 100%);
  color: #fff;
  padding: 2rem;
  bottom: 0;
  display: inline-block;
  height: 5rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

.site-footer a {
  color: #fff;
}

.site-footer a:active,
.site-footer a:hover {
  color: #d1345b;
}

.site-post {
  max-width: 50rem;
  margin: 0 auto;
}

.site-post__image {
  margin: 0 auto 1.45rem;
}

.post-list__title {
  text-align: center;
}

.post-list-item,
.post-list-item:active,
.post-list-item:hover {
  background-color: transparent;
  text-decoration: none;
  color: #111;
  margin: 0 0 1.45rem;
}
.post-list-item {
  display: grid;
  width: 100%;
  grid-template:
    "image title"
    "image date"
    "image excerpt";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 2rem 1rem 1fr;
}

.post-list-item:hover .post-list-item__title {
  color: #d1345b;
  font-size: 1.2rem;
}

.post-list-item__image {
  margin: 0 1rem 0 0;
  grid-area: image;
  object-fit: cover;
}

.post-list-item__title {
  font-size: 1.2rem;
  grid-area: title;
}

.post-list-item__date {
  font-size: .8rem;
  display: block;
  height: 1.5rem;
  text-align: right;
  grid-area: date;
}

.post-list-item__excerpt {
  margin: .5rem 0 0;
  text-align: justify;
  grid-area: excerpt;
}
