:root {
  --white: #ffffff;
  --black: #000000;
  --dublincss-color-1: #111111;
  --dublincss-color-2: #3453d1;
  --dublincss-color-3: #d1345b;
  --dublincss-color-4: #cccccc;
  --dublincss-color-5: #34d1bf;
}